body {
  background-color: #aaaaaa;
}

.Board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.GameBoard {
  background-color: #ffffff;
}

.ScoreBoard {
  background-color: #444444;
}
