body {
  background-color: #aaaaaa;
}

.Board {
  display: inline-block;
  vertical-align: top;
}

.GameBoard {
  background-color: #ffffff;
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
}

.ScoreBoard {
  background-color: #444444;
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
}
