.HiddenSettings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  min-height: 100%;
  background-color:rgba(0, 0, 0, 0.5);

  vertical-align: top;
  display: inline-block;
  padding: 10px;
  transition: all 0.5s ease;
}

.Settings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color:rgba(0, 0, 0, 0.5);

  vertical-align: top;
  display: inline-block;
  padding: 10px;
  transition: all 0.5s ease;
}

.SettingsPanel {
  background-color:rgba(255, 255, 255, 0.7);
  vertical-align: top;
  display: inline-block;
  padding: 10px;
}

.SettingsGroup {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  max-width: 600px;
}

.PlayersSettings {
  display: flex;
  justify-content: left;
  width: 600px;
  flex-wrap: wrap;
}

.playerSettings {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid black;
  display: inline-block;
  justify-content: left;
  max-width: 200px;
}

